<p id="notice"><%= notice %></p>

<p>
  <strong>ユーザID:</strong>
  <%= @record.user_id %>
</p>

<p>
  <strong>Candidate:</strong>
  <%= @record.candidate %>
</p>

<p>
  <strong>Client:</strong>
  <%= @record.client %>
</p>

<p>
  <strong>State:</strong>
  <%= @record.state %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
