<p id="notice"><%= notice %></p>

<p>
  <strong>ユーザID:</strong>
  <%= @record.user_id %>
</p>

<p>
  <strong>Candidate:</strong>
  <%= @record.candidate %>
</p>

<p>
  <strong>Client:</strong>
  <%= @record.client %>
</p>

<p>
  <strong>State:</strong>
  <%= @record.state %>
</p>

<%= link_to '編集する', edit_record_path(@record) %> |
<%= link_to '削除する', record_path, method: :delete, data: { confirm: '削除しますか?' } %> |
<%= link_to '戻る', records_path %>
